header{width: 1000.39px;
height: 32px;
top: 27.76px;
left: 200.61px;
gap: 0px;
opacity: 0px;
}
h1, h4{text-align: center;}
.logo_headphones{width: 114.12px;
height: 12.06px;
top: 38.32px;
left: 247.45px;
gap: 0px;
opacity: 0px;
}
.background_image{width: 1400px;
height: 800px;
gap: 0px;
opacity: 0px;
background-image: url("./images/headphones_hero_1.jpg");
}
.menu{font-family: Source Sans Pro;
font-size: 12px;
font-weight: 700;
line-height: 15.08px;
color: white;
display: flex;
}
.action{text-align: center;}
.lorem_ipsum{text-align: center;
width: 637px;
height: 104px;
top: 209px;
gap: 0px;
opacity: 0px;

}