*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: "source-sans-pro", sans-serif;
  font-weight: 200;
  overflow-x: hidden;
}
ul {list-style: none;
}
  li {
  display: inline;
  margin-right: 10px;
  font-family: Source Sans Pro;
font-size: 12px;
font-weight: 700;
line-height: 15.08px;
text-align: left;
color:#FFFFFF;
}
main{width: 1440px;
height: 1093px;
gap: 0px;
opacity: 0px;
}
h1{font-family: Source Sans Pro;
font-size: 120px;
font-weight: 700;
line-height: 150.84px;
text-align: center;
width: 684px;
height: 151px;
top: 220px;
left: 377px;
margin-left: 320px;
padding-top: 100px;
padding-bottom: 0px;
color: #FFFFFF;
}
button{display: block;
  margin: 0 auto;
border: 2px solid #c271ff;
  border-radius: 25px;
  padding: 10px 20px;
  background-color: #c271ff;
  font-size: 600;
  color: #FFFFFF;
}
a{text-decoration: none;
color: #FFFFFF;}
.image_background {
 background-image: url("./images/Object.png");
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 
  }
#mainContent, #sideContent {float:left; display:inline; width:40%;}
#sideContent{text-align: right; margin-right: 90px;
margin-top: 40px;
    word-spacing: 20px;
    color: #FFFFFF;
}
#course{width: 50px;
height: 15px;

}
#pricing{width: 45px;
height: 15px;
left: 102px;


}
#login{width: 34px;
height: 15px;
left: 200px;


}
.logo{width: 167.02px;
height: 29.46px;
top: 35.02px;
left: 171.59px;

}
.emotions{text-align: center;
font-family: Source Sans Pro;
font-size: 16px;
font-weight: 700;
line-height: 20.11px;
word-spacing: 50px;
padding:120px;
color: #FFFFFF;
margin-bottom: 10px;
margin-top: 10px;
}
.smiles{width: 52px;
height: 20px;
top: 361px;
left: 593px;
color: #FFFFFF;

}
.grin{width: 36px;
height: 20px;
top: 361px;
left: 704px;
color: #FFFFFF;

}
.laugh{width: 49px;
height: 20px;
top: 361px;
left: 797px;
color: #FFFFFF;

}
.learn{
font-size: 32px;
font-weight: 700;
line-height: 40.22px;
text-align: center;
padding-top: 120px;
font-weight: lighter;
margin-bottom: 100px;
margin-left: 90px;
}
.learning{font-weight: 700;
color: #c271ff;}
.pros{ display: flex;
justify-content:center;
gap: 80px;
}
.name{
font-size: 18px;
font-weight: 900;
line-height: 27px;
text-align:center;
color: #FFFFFF;
}
.year, .wish{
font-size: 16px;
font-style: italic;
font-weight: 400;
line-height: 24px;
text-align: center;
width: 150px;
color: #FFFFFF;
}
#testimonial{background-color: #c271ff;
    width: 1440px;
height: 392px;
top: 1093px;
left: -1px;
display: flex;
justify-content: center;
}
.presenter{margin-top: 70px;
margin-right: 30px;}
.person_quote{
font-size: 22px;
font-weight: 400;
line-height: 33.6px;
text-align: left;
color: #FFFFFF;
width: 730px;
height: 68px;
margin-top: 90px;
}
.person_name{
font-size: 22px;
font-weight: 700;
line-height: 33.6px;
text-align: left;
width: 129px;
height: 34px;
top: 90px;
color: #FFFFFF;
}
.weather_presenter{
font-size: 22px;
font-style: italic;
font-weight: 400;
line-height: 33.6px;
text-align: left;
color: #FFFFFF;
}
.tutorial{text-align: center;
font-size: 32px;
font-weight: 300;
line-height: 40.22px;
text-align: center;
margin-top: 50px;
margin-bottom: 80px;
}
.popular{color: #c271ff;
font-size: 32px;
font-weight: 700;
line-height: 40.22px;
text-align: center;
}
.learning_tutorials{display: flex;
justify-content: center;
}
.smile{
font-size: 16px;
font-weight: 700;
line-height: 20.11px;
text-align: left;
}
.smile_border{margin-left:90px;}
.lorem{color: rgba(7, 22, 41, 0.5);
font-size: 14px;
font-weight: 400;
line-height: 24px;
text-align: left;
width: 242px;
height: 48px;
top: 199.6px;
left: 13px;
}
.phillip{
font-size: 14px;
font-weight: 600;
line-height: 27px;
text-align: left;
height: 27px;
top: 263px;
color: #c271ff;
padding-left: 45px;
margin-top: -35px;
}
.minute{
font-size: 14px;
font-weight: 600;
line-height: 27px;
text-align: right;
color: #c271ff;
width: 44px;
height: 27px;
top: 297px;
left: 199px;
margin-left: 150px;
margin-top: -23px;
margin-bottom: 50px;
}
.free_membership{width: 1440px;
height: 502px;
top: 2109px;
background-color: #071629;
color: #FFFFFF;
}
.membership{display: flex;
justify-content: center;}
.member{
font-size: 32px;
font-weight: 700;
line-height: 40.22px;
text-align: center;
padding-top: 30px;
margin-bottom: 70px;
}
.smile_logo{margin-bottom: 20px;
margin-left: 90px;}

.free{color: #c271ff;
}
.ipsum{
font-size: 18px;
font-weight: 600;
line-height: 26px;
text-align: center;
width: 256px;
height: 26px;
top: 62px;
 left: 0.5px;}
 .lorem_ipsum{
font-size: 14px;
font-weight: 400;
line-height: 26px;
text-align: center;
width: 221px;
height: 52px;
top: 101px;
left: 18px;
}
.click{margin: 70px auto;
}
.faq{color: #071629;
font-size: 60px;
font-weight: 300;
line-height: 75.42px;
text-align: center;
margin-bottom: 50px;
margin-top: 50px;
}
.work{
font-size: 16px;
font-weight: 700;
line-height: 20.11px;
text-align: left;
width: 150px;
height: 20px;
color: #071629;
margin-bottom: 20px;
}
.work_details{color:rgba(7, 22, 41, 0.5);
font-size: 14px;
font-weight: 400;
line-height: 24px;
text-align: left;
width: 350px;
height: 192px;
top: 50px;
margin-bottom: 30px;

}
.grid{display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows:repeat(2, 1fr);
gap: 60px;  
width: 920px;
height: 707px;
top: 2678px;
left: 249px;
justify-content: center;
 align-content: center; 
padding-left: 370px;
}
footer{background-color: #071629;
width: 1440px;
height: 309px;
top: 3469px;
}
.copyright{color: #FFFFFF;
font-size: 12px;
font-weight: 400;
line-height: 15.08px;
text-align: left;
width: 96px;
height: 15px;
top: 195px;
left: 672px;
opacity: 0.35px;
margin: 0 auto;
padding-top: 150px;
padding-bottom: 150px;
}
.smile_pics{width: 255px;
height: auto;
border-radius: 5px 5px 0px 0px;
margin-right: 30px;

}
.play{position: absolute;
margin-right: 50px;
}
.smile_border{width: 1228px;
height: 450px;
top: 1572px;
left: 106px;
gap: 0px;
opacity: 0px;
}
 .Massey{width: 30px;
height: 30px;
top: 261px;
left: 13px;
}
.star{width: 107px;
height: 15px;
top: 305px;
left: 13px;
margin-top: 20px;
}
.logo{
margin-left: 120px;
margin-top: 40px;}
 #bruce{border-radius: 50%;}
 .play_1{
position: absolute;
top:1690px;
left: 170px; 
}
.play_2{
position: absolute;
top:1690px;
left: 450px;
}
.play_3{
position: absolute;
top:1690px;
left: 750px;
}
.play_4{position: absolute;
top:1690px;
left: 1050px;}
