body {
  font-family: "source-sans-pro", sans-serif;
  font-weight: 200;
}
ul {list-style: none;
}
  li {
  display: inline;
  margin-right: 10px;
  font-family: Source Sans Pro;
font-size: 12px;
font-weight: 700;
line-height: 15.08px;
text-align: left;
color:#FFFFFF;
}
main{width: 1440px;
height: 1093px;
gap: 0px;
opacity: 0px;
}
h1{font-family: Source Sans Pro;
font-size: 120px;
font-weight: 700;
line-height: 150.84px;
text-align: center;
width: 684px;
height: 151px;
top: 220px;
left: 377px;
margin-left: 320px;
padding-top: 100px;
padding-bottom: 0px;
}
button{display: block;
  margin: 0 auto;
border: 2px solid #c271ff;
  border-radius: 25px;
  padding: 10px 20px;
  background-color: #c271ff;
  font-size: 600;
  color: #FFFFFF;
}
.image_background {
  background-image: url("/Users/Pamela/alx_html_css/images/Object.png");
  }
#mainContent, #sideContent {float:left; display:inline; width:40%;}
#sideContent{text-align: right; margin-right: auto;
    word-spacing: 20px;
}
#course{width: 50px;
height: 15px;
gap: 0px;
opacity: 0px;
}
#pricing{width: 45px;
height: 15px;
left: 102px;
gap: 0px;
opacity: 0px;
}
#login{width: 34px;
height: 15px;
left: 200px;
gap: 0px;
opacity: 0px;
}
.logo{width: 167.02px;
height: 29.46px;
top: 35.02px;
left: 171.59px;
gap: 0px;
opacity: 0px;
}
.emotions{text-align: center;
font-family: Source Sans Pro;
font-size: 16px;
font-weight: 700;
line-height: 20.11px;
    word-spacing: 50px;
padding-bottom: 50px;
margin-top: 50px;}
.smiles{width: 52px;
height: 20px;
top: 361px;
left: 593px;
}
.grin{width: 36px;
height: 20px;
top: 361px;
left: 704px;
}
.laugh{width: 49px;
height: 20px;
top: 361px;
left: 797px;
}
.learn{
font-size: 32px;
font-weight: 700;
line-height: 40.22px;
text-align: center;
padding-top: 60px;
font-weight: lighter;
}
.learning{font-weight: 700;
color: #c271ff;}
.pros{ display: flex;
justify-content:center;
gap: 80px;
}
.name{
font-size: 18px;
font-weight: 900;
line-height: 27px;
text-align:center;
}
.year, .wish{
font-size: 16px;
font-style: italic;
font-weight: 400;
line-height: 24px;
text-align: center;
width: 150px;
}
#testimonial{background-color: #c271ff;
    width: 1440px;
height: 392px;
top: 1093px;
left: -1px;
display: flex;
justify-content: center;
}
.person_quote{
font-size: 22px;
font-weight: 400;
line-height: 33.6px;
text-align: left;
color: #FFFFFF;
width: 730px;
height: 68px;
}
.person_name{
font-size: 22px;
font-weight: 700;
line-height: 33.6px;
text-align: left;
width: 129px;
height: 34px;
top: 90px;
color: #FFFFFF;
}
.weather_presenter{
font-size: 22px;
font-style: italic;
font-weight: 400;
line-height: 33.6px;
text-align: left;
color: #FFFFFF;
}
.tutorial{text-align: center;
font-size: 32px;
font-weight: 300;
line-height: 40.22px;
text-align: center;
}
.popular{color: #c271ff;
font-size: 32px;
font-weight: 700;
line-height: 40.22px;
text-align: center;
}
.learning_tutorials{display: flex;
justify-content: center;
}
.smile{
font-size: 16px;
font-weight: 700;
line-height: 20.11px;
text-align: left;
}
.lorem{color: rgba(7, 22, 41, 0.5);
font-size: 14px;
font-weight: 400;
line-height: 24px;
text-align: left;
width: 242px;
height: 48px;
top: 199.6px;
left: 13px;
}
.phillip{
font-size: 14px;
font-weight: 600;
line-height: 27px;
text-align: left;
height: 27px;
top: 263px;
color: #c271ff;
}
.minute{
font-size: 14px;
font-weight: 600;
line-height: 27px;
text-align: right;
color: #c271ff;
width: 34px;
height: 27px;
top: 297px;
left: 199px;
}
.free_membership{width: 1440px;
height: 502px;
top: 2109px;
background-color: #071629;
color: #FFFFFF;
}
.membership{display: flex;
justify-content: center;}
.member{
font-size: 32px;
font-weight: 700;
line-height: 40.22px;
text-align: center;
padding-top: 30px;
}
.free{color: #c271ff;}
.ipsum{
font-size: 18px;
font-weight: 600;
line-height: 26px;
text-align: center;
}